argcomplete==1.8.2
beautifulsoup4==4.5.3
boto==2.49.0
boto3==1.9.80
botocore==1.12.80
bz2file==0.98
certifi==2018.11.29
chardet==2.3.0
Click==7.0
cycler==0.10.0
docutils==0.14
docx2txt==0.6
EbookLib==0.15
Flask==1.0.2
gensim==3.6.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.3
kiwisolver==1.0.1
lxml==4.3.1
MarkupSafe==1.1.0
matplotlib==3.0.2
numpy==1.16.0
pandas==0.24.0
Pillow==5.4.1
pyparsing==2.3.1
PyPDF2==1.26.0
python-dateutil==2.7.5
python-pptx==0.6.5
pytz==2018.9
requests==2.21.0
s3transfer==0.1.13
scikit-learn==0.20.2
scipy==1.2.0
six==1.10.0
sklearn==0.0
smart-open==1.8.0
SpeechRecognition==3.6.3
urllib3==1.24.1
Werkzeug==0.14.1
xlrd==1.0.0
XlsxWriter==1.1.4
