{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3" style="padding: 20px;">
        today&#39;s world, tremendous information is available in digital format. For human
        beings, it is difficult to manually extract the summary of large documents. There is plenty
        of text material available on the Internet. Hence, there is a problem of searching for
        relevant documents from the number of documents available and collecting relevant
        information from it. The automatic text summarization can help us through this. Text
        summarization is the process of identifying the most important meaningful information in
        a document or set of related documents and compressing them into a shorter version
        preserving its overall meanings Here, we aim to develop a web application which will
        help the user to summarize documents. <br>
        Text summarization is the task of generating a summary of a text. Text
        summarization helps the user with the most relevant summary to his query thereby
        reducing saving his time and efforts. Text summarization has two approaches extractive
        and abstractive but the extractive approach to text summarization is more common and
        more prevalent. Here we will be using an extractive approach with rule-based and
        unsupervised learning. Unsupervised learning helps to detect relations among sentences
        while rule-based approach scores sentences using keywords, phrases, the position of
        sentences, etc. Keeping all this in mind we will be designing a web app which will
        generate relevant summaries according to a user query. Here, we are using extractive
        approach for text summarization. We will be using Open American National Corpus and
        the English Wikipedia Corpus as a database for our system. With all these aspects, we
        will be designing a web application which will generate relevant summaries according to
        a user query.
    </div>
</div>
{% endblock content %}