<!DOCTYPE html>
<html lang="en">
<head>
    <title>Saaransh</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/upload-button.css')}}">

    <script src="{{url_for('static', filename='javascript/jquery/3.3.1/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='javascript/bootstrap/3.3.7/js/bootstrap.min.js')}}"></script>

    <!--Generate PDF-->
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"  integrity="sha256-vIL0pZJsOKSz76KKVCyLxzkOT00vXs+Qz4fYRVMoDhw="
             crossorigin="anonymous"> </script>
    <!--End Generate PDF-->
    <!--Generate DOC-->
    <!--End Generate DOC-->
</head>
<body>

<div id="navigation_div">
    <nav class="navbar navbar-default navbar-fixed-top bg-info">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="{{url_for('static', filename='images/logo.png')}}" height="90%"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</div>

<div class="offset-at-header"></div>

<div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3" style="padding: 20px;text-align: center;">
        B.Tech Project @ KJSCE <br> <br>
        By<br>
        Onkar Pande (1514098) <br>
        Ankit Ramani(1514102) <br>
    </div>
</div>

</body>
<footer>
    &copy;2018 Saaransh | Text Summarizer
</footer>
</html>